body {
    padding-top: 50px;
}
body.login-page {
    background: #eee;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    background-image: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #080808;
    background-image: none;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#change-password-form.form-signin #change-password-1 {
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
}
.form-signin input[type="password"], .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control:focus, .form-signin .form-control.has-error {
    z-index: 2;
}
.form-signin-heading {
    margin-top: 0;
}
#alert-container {
    margin-top: 20px;
}
.form-control.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-control.has-error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
#create-user-form .form-group .control-label {
    font-weight: normal;
    font-size: 12px;
    display: none;
}
#create-user-form .form-group.has-error .control-label {
    display: inline-block;
}
.user-block .username-title {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin: 0;
}
.user-block .username-title + h3 {
    line-height: 20px;
}
.user-block .username-title:hover, .user-block .username-title:active {
    border-color: #2a6496;
}
.user-block .user-additional-info {
    color: #666;
}
.user-block .user-controls a {
    color: #333;
    cursor: pointer;
    -moz-transition: color 0.2s ease-in;
    -ms-transition: color 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}
.user-block .open-settings:hover {
    color: #5cb85c;
}
.user-block .delete-user:hover {
    color: #d9534f;
}
